langchain
ipykernel
python-dotenv
langchain-openai
beautifulsoup4
langchain_community
faiss-cpu
langchain_core
langchain-groq
streamlit
langchain_chroma
langchain-huggingface
langchain_text_splitters
pypdf
fastapi
uvicorn
python-dotenv
requests
pydantic
python-multipart
typing
dotenv
asyncio
arxiv
wikipedia
duckduckgo-search